<a href="https://colab.research.google.com/github/realyou0312/AED_Project/blob/main/%EA%B0%80%EC%A4%91%EC%B9%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 가중치 구하기

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import gmean

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
survey = pd.read_csv('/content/drive/MyDrive/설문조사.csv', encoding='euc-kr')

In [ ]:
survey = pd.DataFrame(survey.iloc[:,2:6])
survey

   Q_1  Q_2  Q_3  Q_4
0    9    9    9    9
1    1    9    3    8
2    9    9    9    1
3    7    3    6    3
4    8    9    9    1
5    5    5    5    6
6    7    7    7    5
7    8    7    7    7
8    9    8    7    1
9    9    9    9    9

In [ ]:
list_array = []
list_array_2 = []

for i in range(len(survey.index)):
  survey_array = np.array([[1, 1/(survey.iloc[i,0]), 1/(survey.iloc[i,1])],
                           [survey.iloc[i,0], 1, 1/(survey.iloc[i,2])],
                           [survey.iloc[i,1], survey.iloc[i,2], 1]])
  list_array.append(survey_array)

for i in range(len(survey.index)):
  survey_array_2 = np.array([[1, 1/(survey.iloc[i,3])],
                            [survey.iloc[i,3], 1]])
  list_array_2.append(survey_array_2)

In [ ]:
weight_sum = np.array([[0.],[0.],[0.]])
cnt = 0

for i in range(len(list_array)):
  num = pd.DataFrame(list_array[i])
  num.index = ['수요', '처치', '관리']
  num.columns = ['수요', '처치', '관리']
  
  Q1_sum = num.iloc[:,0].sum() 
  Q2_sum = num.iloc[:,1].sum() 
  Q3_sum = num.iloc[:,2].sum() 

  #정규화
  num.iloc[:,0] = num.iloc[:,0] / Q1_sum
  num.iloc[:,1] = num.iloc[:,1] / Q2_sum
  num.iloc[:,2] = num.iloc[:,2] / Q3_sum 
  
  #요인별 가중치 행의 합
  Q1_weight = num.iloc[0,:].sum() 
  Q2_weight = num.iloc[1,:].sum() 
  Q3_weight = num.iloc[2,:].sum() 

  #가중치 행렬 생성
  weight_array = np.array([[Q1_weight / 3],
                          [Q2_weight / 3 ],
                          [Q3_weight / 3]])
  
  array_weight = (num @ weight_array)
  
  gamma_array = (array_weight / weight_array)

  gamma = gamma_array.iloc[:,0].sum()
  
  CR = (gamma - 3) / 2 / 0.58
  
  if CR < 0.1:
    weight_sum += weight_array
    cnt += 1
    weight_sum_2 += weight_array_2 
    
final_weight = (weight_sum / cnt)
print(final_weight)

[[0.07138501]
 [0.23210616]
 [0.69650883]]

In [ ]:
c

응급의료시설: 0.634218383853788
 응급구조시설: 3.188131888936408